html, body, main, #app, .row{
	height: 100%;
}

#maincols{
	margin: 0;
	padding: 0 !important;
	height: calc(100% - 60px);
}

nav{
  height: 60px;
background-color: white;
  border-bottom: 1px solid #DDD;
	padding: 10px;
	padding-left: 20px;
	padding-right: 15px;
}

nav .btn{
margin: 0;
	float: right;

}

#side nav{
	background-color: transparent;
	border-bottom: 0;

}

#side nav h6{
color: white;

}

.btn.nobrdr{
		border: none;
}

nav h6{
	float: left;
margin-top: 8px;
	color: #CCC;

}

nav.nopad{
	padding: 0;
	padding-left: 15px;
	padding-right: 12px;
}



.pad{
	padding: 10px;
}

.content{
  padding: 20px;
}

#side .content{
	padding-right: 0;
	padding-top: 0;
}

.item{
	padding: 20px;
	border-bottom: 1px solid #DDD;
	width: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	float: left;
user-select: none;
}

.form-control{
	margin-bottom: 10px;
}

textarea{
	min-height: 350px;
}

.cat{
	display: block;
	color: white;
	padding: 5px;
	padding-left: 0px;
	cursor: pointer;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	color: #888;
}

.active-cat{
  color: white;
}

.categories{
	color: white;
}



.item{
  border-left: 5px solid #FFF;
}

.active{
  background-color: #F8F8F8;
  border-left: 5px solid #1B98F8;
}


h5{
  margin-top: 4px;
}

.ProseMirror{
min-height: 400px;
border: 1px solid #ced4da;
padding: 20px;
border-bottom-left-radius: 4px;
border-bottom-right-radius: 4px;
margin-bottom: 15px;
background-color: white;
}

.btn-editor{
	border: 1px solid #ced4da;
}

[contenteditable]:focus {
    outline: 0px solid transparent;
}

.form-control{

	margin-bottom: 15px;
}


.ql-container{
padding: 5px;
	min-height: 250px;
	font-size: 15px !important;
}

.btn .fa{
	margin-right: 5px;
}

@media screen and (max-width: 750px) {



}
