html, body, main, .row{
	height: 100%;
}

#maincols{
	margin: 0;
	padding: 0 !important;
	height: calc(100% - 59px);
}

#side{
	background-color: #252A3A;
	color: white;
	padding: 20px;
	padding-top: 5px;
}

#posts{
	border-right: 1px solid #DDD;
}

#main{
	padding: 20px;
}

.item{
	padding: 20px;
	border-bottom: 1px solid #DDD;
	width: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	float: left;
user-select: none;
}

.form-control{
	margin-bottom: 10px;
}

textarea{
	min-height: 350px;
}

.cat{
	display: block;
	color: white;
	padding-top: 10px;
	cursor: pointer;
}

.categories{
	color: white;
}

.add-cat{
	padding-top: 10px;
	cursor: pointer;
}

.item{
  border-left: 5px solid #FFF;
}

.active{
  background-color: #EEE;
  border-left: 5px solid #1B98F8;
}

nav{
padding: 10px;
padding-right: 20px;
background-color: white;
border-bottom: 1px solid #DDD;
}
h5{
  margin-top: 4px;
}
